/* Reseteo básico */
body, h1, h2, h3, p, ul, li, form, input, textarea, button {
    box-sizing: border-box; /* Establece el box-sizing a border-box */
    margin: 0; /* Elimina márgenes por defecto */
    padding: 0; /* Elimina padding por defecto */
}

body {
    background-color: whitesmoke; /* Color de fondo claro */
    color: #31373C; /* Color neutro para los textos oscuros */
    font-family: 'Poppins', sans-serif; /* Fuente principal para el cuerpo */
    line-height: 1.6; /* Aumenta la legibilidad del texto */
}

/* Estilo del header */
header {
    background-color: #5D7891; /* Azul oscuro para el header */
    font-family: 'Merriweather', serif; /* Fuente para el título del header */
    padding: 10px 0 60px 0; /* Espaciado superior e inferior */
    position: relative; /* Posición relativa para elementos internos */
}

.header-top {
    align-items: center; /* Alinea los elementos verticalmente */
    display: flex; /* Muestra los elementos en fila */
    justify-content: space-between; /* Espaciado entre elementos */
    padding: 20px; /* Espaciado interno */
}

.header-left {
    margin-left: 20px; /* Margen izquierdo */
}

.header-left img {
    height: auto; /* Altura automática para la imagen */
    width: 200px; /* Ancho fijo para la imagen */
}

.header-center {
    flex-grow: 1; /* Permite que este elemento crezca */
    text-align: center; /* Centra el contenido */
}

.header-center h1 {
    color: whitesmoke; /* Color de texto claro */
    font-size: 75px; /* Tamaño grande para el título */
    margin-bottom: 20px; /* Espacio inferior */
}

.header-right {
    align-items: center; /* Alinea los elementos verticalmente */
    display: flex; /* Muestra los elementos en fila */
    flex-direction: column; /* Orienta los elementos en columna */
    justify-content: center; /* Centra los elementos */
    margin-right: 20px; /* Margen derecho */
}

.header-right button {
    background-color: #28333D; /* Botones en gris oscuro */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    color: whitesmoke; /* Color de texto claro */
    font-size: 16px; /* Tamaño de fuente para el botón */
    font-weight: bold; /* Texto en negrita */
    margin: 10px 0; /* Margen superior e inferior */
    padding: 10px 20px; /* Espaciado interno */
    width: 200px; /* Ancho fijo para el botón */
}

.header-right button:hover {
    background-color: #479CE5; /* Hover en azul claro */
    color: whitesmoke; /* Color de texto claro en hover */
}

/* Menú de navegación */
.nav-menu {
    align-items: center; /* Alinea los elementos verticalmente */
    background-color: #28333D; /* Fondo gris para el menú */
    border-bottom: 2px solid #28333D; /* Borde inferior del menú */
    box-sizing: border-box; /* Establece el box-sizing a border-box */
    bottom: 0; /* Posiciona en la parte inferior */
    display: flex; /* Muestra los elementos en fila */
    justify-content: space-between; /* Espaciado entre elementos */
    left: 0; /* Posiciona a la izquierda */
    padding: 10px 0; /* Espaciado interno */
    position: absolute; /* Posición absoluta */
    width: 100%; /* Ancho completo */
}

.nav-left, .nav-right {
    display: flex; /* Muestra los elementos en fila */
    list-style-type: none; /* Elimina viñetas de listas */
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina padding */
}

.nav-left a, .nav-right a {
    color: whitesmoke; /* Color de texto claro para los enlaces */
    font-size: 30px; /* Tamaño de fuente para los enlaces */
    text-decoration: none; /* Elimina subrayado */
}

.nav-left a:hover, .nav-right a:hover {
    color: #479CE5; /* Efecto hover en azul claro */
}

.nav-left {
    margin-left: 20px; /* Margen izquierdo */
}

.nav-right {
    margin-right: 20px; /* Margen derecho */
}

.nav-left li, .nav-right li {
    margin: 0 20px; /* Margen horizontal para los elementos de la lista */
}

/* Contenido general */
.container {
    display: flex; /* Muestra el contenido en fila */
}

/* Barra lateral */
.sidebar {
    background-color: whitesmoke; /* Color de fondo claro */
    border-right: 10px double #28333D; /* Borde derecho */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    width: 25%; /* Ancho fijo de la barra lateral */
}

.sidebar h2 {
    border-bottom: 10px double #28333D; /* Borde inferior */
    color: #28333D; /* Texto en azul oscuro */
    font-family: 'Merriweather', serif; /* Usar la fuente serif para el título */
    font-size: 35px; /* Tamaño de fuente grande */
    margin: 15px 0; /* Margen superior e inferior */
}

.sidebar ul {
    list-style-type: none; /* Elimina viñetas de listas */
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina padding */
    width: 100%; /* Ancho completo */
}

.sidebar ul li a {
    color: #31373C; /* Texto gris oscuro */
    display: block; /* El enlace ocupa todo el bloque */
    font-size: 18px; /* Tamaño de fuente para los enlaces */
    font-weight: bold; /* Texto en negrita */
    padding: 8px 16px; /* Espaciado interno */
    text-decoration: none; /* Elimina subrayado */
}

.sidebar ul li a:hover {
    background-color: #5D7891; /* Hover en gris oscuro */
    color: whitesmoke; /* Color de texto claro en hover */
}

/* Estilo del formulario */
form {
    background-color: whitesmoke; /* Fondo blanco */
    font-weight: bold; /* Texto en negrita */
    padding: 20px; /* Espaciado interno */
}

form button {
    background-color: #28333D; /* Fondo del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    color: #ffffff; /* Color de texto blanco */
    cursor: pointer; /* Cambia el cursor a puntero */
    font-size: 1em; /* Tamaño de fuente estándar */
    padding: 12px 20px; /* Espaciado interno */
}

form button:hover {
    background-color: #479CE5; /* Hover en azul claro */
}

form input, form textarea {
    border: 1px solid #535D66; /* Borde gris oscuro */
    border-radius: 4px; /* Bordes redondeados */
    margin-bottom: 15px; /* Margen inferior */
    padding: 12px; /* Espaciado interno */
    width: 100%; /* Ancho completo */
}

form label {
    color: #31373C; /* Color de texto gris oscuro */
    display: block; /* El label ocupa todo el bloque */
    margin-bottom: 5px; /* Margen inferior */
}

/* Sección principal */
main {
    background-color: whitesmoke; /* Fondo blanco */
    margin: 15px; /* Margen alrededor */
    padding: 20px; /* Espaciado interno */
    width: 75%; /* Ancho fijo de la sección principal */
}

main h2 {
    background: linear-gradient(to right, #5D7891, whitesmoke, whitesmoke, whitesmoke, #5D7891); /* Fondo con degradado */
    color: #31373C; /* Color de texto gris oscuro */
    font-family: 'Merriweather', serif; /* Usar la fuente serif para el título */
    font-size: 35px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 30px; /* Margen inferior */
    text-align: center; /* Centra el texto */
}

main section {
    margin-bottom: 50px; /* Margen inferior para las secciones */
}

#home {
    color: #31373C; /* Color de texto gris oscuro para mayor contraste */
    line-height: 1.8; /* Mejora la legibilidad aumentando el interlineado */
    padding: 20px; /* Añadir espacio alrededor de la sección */
    text-align: center; /* Centra el texto */
}

#home p {
    font-size: 16px; /* Tamaño de fuente legible */
    margin-bottom: 30px; /* Espacio entre los párrafos */
    margin-left: auto; /* Centramos el párrafo */
    margin-right: auto; /* Aseguramos que esté centrado */
    max-width: 1200px; /* Limitar el ancho de los párrafos */
}

/* Galería de imágenes */
.gallery {
    display: grid; /* Utiliza grid para la disposición */
    gap: 30px; /* Espacio entre elementos de la galería */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas fijas */
    grid-template-rows: repeat(2, auto); /* 2 filas automáticas */
    margin: 0 auto;
    text-align: center; /* Centra el texto */
    width: 80%;
    
}

.gallery a {
    background-color: whitesmoke; /* Color de fondo claro */
    border: 2px solid #28333D; /* Borde gris oscuro */
    border-radius: 30px 0 30px 0; /* Bordes redondeados */
    color: #28333D; /* Color de texto gris oscuro */
    font-size: 20px; /* Tamaño de fuente para los enlaces */
    font-weight: bold;
    padding: 5px; /* Espaciado interno */
    text-decoration: none; /* Elimina subrayado */
    width: 80%;

}

.gallery a:hover {
    box-shadow: 10px 15px 15px #28333D; /* Sombra en hover */
}

.gallery img {
    border-radius: 30px 0 30px 0; /* Bordes redondeados para imágenes */
    height: auto; /* Altura automática */
    width: 100%; /* Ancho completo */
}


/* Tabla de calendario sobria y formal */
.tabla-horarios {
    border: 1px solid #31373C; /* Bordes más sutiles y neutrales */
    border-collapse: collapse; /* Colapsa bordes */
    width: 80%;
    margin: 0 auto;
    font-size: 16px; /* Fuente sobria */
    table-layout: auto; /* Ajustar a los contenidos */
    text-align: center; /* Centra el texto */
    width: 80%; /* Ancho completo */
}

.table-cell {
    border-bottom: 1px solid #d1d1d1; /* Bordes sutiles entre filas */
    color: #31373C; /* Color de texto gris oscuro para las celdas */
    padding: 15px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
}

.table-cell:first-child {
    background-color: #535D66; /* Primera columna en gris oscuro */
    color: #ffffff; /* Texto en blanco para mayor contraste */
    font-weight: bold; /* Texto en negrita */
    padding: 12px; /* Espaciado interno */
}

.table-header {
    background-color: #28333D; /* Encabezado en azul oscuro */
    color: whitesmoke; /* Color de texto claro */
    font-weight: bold; /* Texto en negrita */
    letter-spacing: 1px; /* Espaciado entre letras */
    padding: 15px; /* Espaciado interno */
    text-transform: uppercase; /* Letra en mayúsculas para el encabezado */
    border-bottom: 2px solid #31373C; /* Borde inferior */
}

tbody tr:nth-child(even) {
    background-color: #EAEAEA; /* Fila par en gris más oscuro */
}

tbody tr:nth-child(odd) {
    background-color: #F7F7F7; /* Fila impar en gris claro */
}

tbody tr:hover {
    background-color: #D1E3F1; /* Efecto hover en un azul claro suave */
}

/* Sección de equipo */
.tema-foro {
    display: flex; /* Muestra los elementos en fila */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas */
    gap: 20px; /* Espacio entre elementos */
    margin: 0 auto;
    width: 80%;
    
}

.alumno {
    background-color: whitesmoke; /* Color de fondo claro */
    border: 2px solid #535D66; /* Borde gris oscuro */
    border-radius: 30px 0 30px 0; /* Bordes redondeados */
    box-shadow: 5px 10px 10px #535D66; /* Sombra para dar profundidad */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    width: calc(27.333% - 20px); /* Ancho relativo con espacio entre elementos */
}

.alumno img {
    border-radius: 50%; /* Hace que la imagen sea circular */
    height: 100px; /* Altura fija para la imagen */
    margin-bottom: 10px; /* Margen inferior */
    width: 100px; /* Ancho fijo para la imagen */
}

/* Footer */
footer {
    background-color: #28333D; /* Color de fondo oscuro */
    color: whitesmoke; /* Color de texto claro */
    font-weight: bold; /* Texto en negrita */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
}

.footer-links {
    gap: 20px; /* Espacio entre enlaces */
    justify-content: center; /* Centra los enlaces */
    margin-bottom: 10px ;
}

.footer-links a {
    color: whitesmoke; /* Color de texto claro para los enlaces */
    
    padding: 40px;
    font-size: 40px; /* Tamaño de fuente grande */
    text-decoration: none; /* Elimina subrayado */
}

.footer-links a:hover {
    color: #479CE5; /* Efecto hover con azul claro */
}
